In [3]:
import pandas as pd
Transactions = pd.read_excel("KPMG_VI_New_raw_data_update_final.xlsx", sheet_name="Transactions")

NewCustomerList = pd.read_excel("KPMG_VI_New_raw_data_update_final.xlsx", sheet_name="NewCustomerList")

CustomerDemographic = pd.read_excel("KPMG_VI_New_raw_data_update_final.xlsx", sheet_name="CustomerDemographic")

CustomerAddress = pd.read_excel("KPMG_VI_New_raw_data_update_final.xlsx", sheet_name="CustomerAddress")

In [4]:
Transactions.head()

,Note: The data and information in this document is reflective of a hypothetical situation and client. This document is to be used for KPMG Virtual Internship purposes only.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
1,1,2,2950,2017-02-25 00:00:00,False,Approved,Solex,Standard,medium,medium,71.49,53.62,41245
2,2,3,3120,2017-05-21 00:00:00,True,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,41701
3,3,37,402,2017-10-16 00:00:00,False,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,36361
4,4,88,3135,2017-08-31 00:00:00,False,Approved,Norco Bicycles,Standard,medium,medium,1198.46,381.1,36145

In [6]:
CustomerDemographic.dtypes

Note: The data and information in this document is reflective of a hypothetical situation and client. This document is to be used for KPMG Virtual Internship purposes only.     object
Unnamed: 1                                                                                                                                                                       object
Unnamed: 2                                                                                                                                                                       object
Unnamed: 3                                                                                                                                                                       object
Unnamed: 4                                                                                                                                                                       object
Unnamed: 5                                                                                                                                                                       object
Unnamed: 6                                                                                                                                                                       object
Unnamed: 7                                                                                                                                                                       object
Unnamed: 8                                                                                                                                                                       object
Unnamed: 9                                                                                                                                                                       object
Unnamed: 10                                                                                                                                                                      object
Unnamed: 11                                                                                                                                                                      object
Unnamed: 12                                                                                                                                                                      object
dtype: object